<?xml version="1.0"?>
<robot name="roboat">

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.000833" iyy="0.000833" izz="0.000833" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.45 0.15"/>
      </geometry>
      <material name="orange">
        <color rgba="1 0.549 0 1"/>
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="0.9 0.45 0.15"/>
      </geometry>
    </collision>
  </link>

  <joint name="base_to_front_ball" type="fixed">
    <parent link="base_link"/>
    <child link="front_ball"/>
    <origin xyz="0.40 0 0.075" rpy="0 0 0"/>
  </joint>

  <link name="front_ball">
     <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="1.0"/>
      <inertia ixx="0.000833" iyy="0.000833" izz="0.000833" ixy="0" ixz="0" iyz="0"/>
    </inertial>

    <visual>
      <geometry>
        <sphere radius="0.05"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1"/>
      </material>
    </visual>
  </link>


</robot>